wheel
twine
freezegun==1.5.1
pytest==8.3.2
mock>=5.1.0
flake8>=7.1.1
pytz==2024.1
bumpversion==0.6.0
tox==4.17.0
pytest-xdist==3.5.0
flaky>=3.8.0,<4

# Test requirements
dbt-tests-adapter~=1.9.2
pygments>=2.18.0 # not directly required, pinned by Snyk to avoid a vulnerability
